body {
	font=family: Arial,sans-serif;
	background-image:url(ghost.jpg);
}
header{
	test-align: center;
	padding: 10px;
	background-color:#00008b;
}
header img{
	position: relative;
	top: 20px;
	left:700px;
	width:150px;
	hieght:150px;
	boder-radius:50%;
	margin-button:10px;
}

section{
	margin: 20px;
}
.project{
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 10px;
	display: inline-block;
	text-align: center
	line-height: 200px;
	color: #ffffff
	
	
}
h1,h2{
	color: #ffffff;
}
#bio,#work{
	background-color:#00008B;
}
footer{
	background-color:#00008B;
	text-align: center;
	padding: 10px;
}
